[Unit]
Description=Prometheus node exporter service.
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
User=prometheus
ExecStart=/usr/local/bin/node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
